/*-------------------------------------------------HOMEPAGE--------------------------------------------------------*/

body {
    font-family: 'Rokkitt', serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgb(28,28,35);
    background: linear-gradient(180deg, rgba(28,28,35,1) 0%, rgba(28,28,35,1) 60%0%, rgba(31,19,79,1) 70%);
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3vw;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.cover{
    padding-left: 5vw;
    padding-right: 5vw;
}
.cover img {
    width: 100%;
    height: auto;
}

.about_me {
    width: 32.9%;
    margin: auto;
    margin-top: 5vw;
    text-align: left;
    color: #fff;
    display: flex;
    margin-left: 7%;
    display: flex;
}

.about_me img {
    width: 15%;
    height: 15%;
}

.about_me_text h1 {
    transform: scaleY(0.9);
    padding-left: 1vw;
    padding-top: 1.5vw;
}

.about_me_text p {
    color: #A5A5A5;
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-left: 1vw;
    width: 70%;
}

.download {
    margin-left: 7%;
    position: relative;
    top: -6vw;
    left: 8vw;
    width: 20%;
}

.download a:hover {
    background-color: #F7C843;
    color: #1C1C23;
    cursor: pointer;
}

.download a {
    background-color: #783DEA;
    font-size: 1vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #fff;
    border-radius: 50px;
}

.profession {
    width: 55%;
    margin-right: 7.155%;
    position: relative;
    top: -7px;
}

.profession img {
    width: 91%;
}

.presentation {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}

.port {
    z-index: 1;
    width: 55%;
    display: flex;
    float: right;
    margin-right: 12.3%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.port img {
    width: 100%;
}


.projects_back img{
    width: 100%;
    position: relative;
    z-index: -1;
}

.proj_vertical img{
    width: 6%;
    z-index: 1;
    position: relative;
    top: 42.5vw;
    left: -8vw;
}

.proj_horizontal img{
    width: 47%;
    z-index: 1;
    position: relative;
    left: -18vw;
}

.proj_box{
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    margin-top: 5%;
}

.inlife{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.casal{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.TG{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.narrativas{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.branding{
    width: 82%;
    margin: 0 auto;
    margin-bottom: 5vw;
}

.inlife h1{
    color: #fff;
    text-align: left;
    margin-top: 2%;
}

.casal h1{
    color: #fff;
    text-align: left;
    margin-top: 3.5%;
    line-height: 1.2;
}

.TG h1{
    color: #fff;
    text-align: left;
    margin-top: 3.5%;
    line-height: 1.2;
}

.narrativas h1{
    color: #fff;
    text-align: left;
    margin-top: 3.5%;
    line-height: 1.2;
}

.branding h1{
    color: #fff;
    text-align: left;
    margin-top: 3.5%;
    line-height: 1.2;
}

.inlife p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
}

.casal p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
    line-height: 2;
}

.TG p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
    line-height: 2;
}

.narrativas p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
    line-height: 2;
}

.branding p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
    line-height: 2;
}

.inlife img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.casal img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.TG img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.narrativas img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.branding img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.inlife-hover {
    display: none;
}

.inlife:hover .inlife-hover {
    display: inherit;
}

.casal:hover .inlife-hover {
    display: inherit;
}

.TG:hover .inlife-hover {
    display: inherit;
}

.narrativas:hover .inlife-hover {
    display: inherit;
}

.branding:hover .inlife-hover {
    display: inherit;
}

.inlife:hover{
    cursor: pointer;
}

.casal:hover{
    cursor: pointer;
}

.TG:hover{
    cursor: pointer;
}

.narrativas:hover{
    cursor: pointer;
}

.branding:hover{
    cursor: pointer;
}

.inlife:hover h1{
    color: #1d9afa;
}

.casal:hover h1{
    color: #8BC53B;
}

.TG:hover h1{
    color: #EF8B8B;
}

.narrativas:hover h1{
    color: #D47B24;
}

.branding:hover h1{
    color: #9742D3;
}

.inlife:hover .inlife-hide {
    display: none;
}

.casal:hover .inlife-hide {
    display: none;
}

.TG:hover .inlife-hide {
    display: none;
}

.narrativas:hover .inlife-hide {
    display: none;
}

.branding:hover .inlife-hide {
    display: none;
}

.projects{
    background-image: url(img/cloud_gradient.svg);
    background-position: -2.5vw 55%;
    background-repeat: no-repeat;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*---------------------------------------------------INLIFE-----------------------------------------------------------*/

.inlife_body{
    font-family: 'Urbanist', sans-serif;
    color: #F0F3F6;
    font-size: 1.5vw;
    margin: 0 auto;
    background: rgb(29, 144, 238);
    text-align: left;
    overflow-x: hidden;
}

.inlife_body h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

#inlife_title{
    position: relative;
    right: -3%;
    top: 1vw;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 7vw;
}

.inlife_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #fff;
}

#inlife_logo{
    width: 15vw;
    margin-top: 12vw;
}

.inlife_logo{
    text-align: center;
    height: 37vw;
}

#inlife_logo_text{
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.inlife_intro{
    margin-bottom: 15vw;
}

#shapes1{
    width: 8vw;
    position: relative;
    top: 9vw;
    right: 10vw;
}

#shapes2{
    width: 8vw;
    position: relative;
    bottom: 3vw;
    left: 10vw;
}

.inlife_about{
    justify-content: center;
    margin: auto;
    margin-top: 10vw;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.inlife_about_text{
    width: 30%;
    margin: auto;
    margin-right: 5vw;
    margin-left: 2vw;
}

.inlife_about_text h1{
    color: #2845c9;
    margin-bottom: 1.5vw;
}

#inlife_video{
    width: 55%;
}

#post_backwards{
    margin: 0;
    padding: 0;
}

#posts_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    margin-top: 10vw;
    position: relative;
    left: -0.5%;
   
}

.ig{
    background-color: #F0F3F6;
    margin: 0;
    display: flex;
    transform: translateY(-16%);
    display: block;
}

.ig_intro{
    display: flex;
}

.ig_shapes{
    width: 100%;
    height: 13.6vw;
    text-align: right;
    position: relative;
    top: -3.2vw;
}

#ig_shapes{
    width: 20%;
}

.ig_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #1d9afa;
    margin: 0;
    position: relative;
    left: -0.5%;
    top: -2.2vw;
}

#social_media{
    width: 35%;
    height: 20%;
    margin-top: 1vw;
    position: relative;
    left: 2%;
}

.ig_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 5vw;
    background-color: #F0F3F6;
    width: 100%;
    float: left;
    transform: translateY(-2%);
}

.ig_intro_text{
    margin: auto;
    margin-right: 7vw;
    margin-left: 5vw;
    position: relative;
    top: -1vw;
}

.ig_intro_text h1{
    color: #2845c9;
    margin-bottom: 1vw;
}

.ig_intro_text p{
    color: #1d9afa;
}

#ig_img{
    width: 60%;
    margin-left: 5vw;
}

.ig_intro_text img{
    width: 95%;
    margin-bottom: 1.5vw;
}

.ig_posts{
    width: 100%;
    background: #F0F3F6;
    padding-bottom: 8vw;
}

.ig_posts img{
    width: 100%;
    padding-top: 5vw;
}

#ig_2{
    width: 60%;
    margin-left: 5vw;
    padding-top: 10vw;
    margin-bottom: 5vw;
}

#ig_3{
    width: 78%;
    margin-right: 5vw;
    margin-left: 12vw;
    transform: translateY(-5%);
}

#ig_separador1{
    width: 10%;
    position: relative;
    top: 2vw;
    left: -5%;
}

.ig_posts p{
    margin-top: 1vw;
    color: #1d9afa;
    width: 18%;
    text-align: right;
    position: relative;
    top: -5vw;
    left: 40vw;
}

.ig_4{
    width: 85%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5vw;
}

.ig_icons img{
    display: block;
}

#ig_separador2{
    width: 10%;
    margin-top: 10vw;
    margin-left: 7vw;
}

#highlight_icons{
    margin-left: 7vw;
    width: 25%;
    padding: 0;
    margin-top: 1.5vw;
}

.highlight_icons{
    display: flex;
    margin-left: 7vw;
    margin-right: 15vw;
    justify-content: space-between;
}

.highlight_icons_ind{
    width: 15%;
}

.highlight_icons_ind img{
   width: 80%;
}

.highlight_icons_ind p{
    color: #2845c9;
    text-align: center;
    width: 80%;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 2vw;
}

.highlight_icons2{
    display: flex;
    margin-left: 15vw;
    margin-right: 7vw;
    justify-content: space-between;
}

#ig_print{
    width: 60%;
    margin: 0 auto;
    margin-top: 5vw;
}

#inlife_city_guides{
    width: 27%;
    margin-right: 3vw;
    margin-top: 10vw;
}

.ig_5{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: right;
}

#separator_dblue{
    width: 0;
    height: 0;
    border-left: 99.25vw solid transparent;
    border-bottom: 20vw solid #2845c9;
    margin-top: -35vw;
}

.li{
    background-color: #2845c9;
    padding-top: 35vw;
}

.li_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 5vw;
    background-color: #2845c9;
    width: 100%;
    float: left;
}

.li_intro_text{
    margin: auto;
    margin-right: 7vw;
    margin-left: 8vw;
    position: relative;
    top: -1vw;
}

.li_intro_text h1{
    color: #7DD1FC;
    margin-bottom: 1vw;
}

.li_intro_text p{
    color: #F0F3F6;
}

.li_intro_text img{
    width: 45%;
    margin-bottom: 1.5vw;
}

.li_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #1d9afa;
    margin: 0;
    position: relative;
    left: -0.5%;
    top: -2.2vw;
}

#li_img{
    width: 55%;
    margin-left: 7vw;
}

.li_posts{
    width: 100%;
    background: #2845c9;
    padding-bottom: 20vw;
}

.li_posts img{
    width: 100%;
    padding-top: 12vw;
}

#li_2{
    width: 86%;
    margin-left: 7vw;
    margin-right: 5vw;
    padding-top: 10vw;
    margin-bottom: 5vw;
}

#li_separador{
    width: 27%;
    margin-left: 7vw;
}

.li_covers_img{
    width: 100%;
    margin: 0 auto;
    margin-top: -5vw;
}

.li_covers_img img{
    margin-bottom: -8vw;
}

.li_covers{
    margin-left: 7vw;
    margin-right: 7vw;
}

#li_print{
    width: 45%;
    margin: 0 auto;
    margin-top: 10vw;
}

#site_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    position: relative;
    left: -0.2%;
   
}

#site_backwards {
    background-color: #2845c9;
}

.site{
    background-color: #EBEBEB;
    margin: 0;
    display: flex;
    transform: translateY(-13.5%);
    display: block;
}

.site_intro{
    display: flex;
}

.site_shapes{
    width: 100%;
    height: 17vw;
    text-align: right;
    position: relative;
    top: -3.4vw;
}

#site_shapes{
    width: 15.5%;
}

.site_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #2845c9;
    margin: 0;
    position: relative;
    left: -0.2%;
    top: -2.2vw;
}

.site_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 7vw;
    background-color: #EBEBEB;
    width: 100%;
    float: left;
    transform: translateY(-2%);
}

#site_img{
    width: 30%;
    height: 100%;
    margin-right: 10vw;
}

.site_intro_text{
    margin: auto;
    margin-left: 7vw;
    position: relative;
    top: -1vw;
}

.site_intro_text h1{
    color: #434A5F;
    margin-bottom: 1vw;
}

.site_intro_text p{
    color: #6E7D99;
    width: 70%;
}

.site_posts{
    width: 88%;
    background: #EBEBEB;
    padding-bottom: 8vw;
    text-align: center;
    padding-left: 6vw;
    padding-right: 6vw;
}

#site_1{
    margin: 0 auto;
    margin-top: 5vw;
    width: 50%;
    padding-top: 5vw;
}

#site_2{
    width: 100%;
    margin: 0 auto;
    padding-top: 15vw;
    margin-bottom: 5vw;
}

#sites_3{
    width: 70%;
    padding-bottom: 10vw;
}

#print_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    position: relative;
    left: -0.4%;
    color: #1d9afa;
}

#print_backwards {
    background-color: #EBEBEB;
    transform: translateY(-2%);
}

.print{
    background-color: #1d9afa;
    margin: 0;
    transform: translateY(-0.9%);
    display: block;
    padding-bottom: 8vw;
}

.print_intro{
    display: flex;
}

.print_shapes{
    width: 100%;
    height: 17vw;
    text-align: right;
    position: relative;
    top: -3.35vw;
}

#print_shapes{
    width: 15.5%;
}

.print_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #EBEBEB;
    margin: 0;
    position: relative;
    left: -0.4%;
    top: -2.2vw;
}

.print_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 7vw;
    background-color: #1d9afa;
    width: 100%;
    float: left;
    transform: translateY(-2%);
    text-align: center;
}

#prints_img{
    width: 50%;
    margin-left: 7vw;
    margin-right: 10vw;
}

.print_intro_text{
    margin: auto;
    position: relative;
    top: -1vw;
}

.print_intro_text h1{
    color: #2845c9;
    margin-bottom: 1vw;
    text-align: left;
    margin-right: 5vw;
}

.print_intro_text p{
    color: #F0F3F6;
    width: 80%;
    text-align: left;
}

.print_posts{
    width: 100%;
    background: #F0F3F6;
    padding-bottom: 20vw;
    text-align: center;
}

.print_posts{
    width: 100%;
    background: #1d9afa;
    padding-bottom: 8vw;
    text-align: left;
}

#print_1{
    background-image: url("img/print_back1.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    margin: 0 auto;
    margin-top: 20vw;
    width: 60%;
    padding-top: 7vw;
    padding-left: 7vw;
}

#print_2{
    float: right;
    background-image: url("img/print_back2.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right;
    margin: 0 auto;
    margin-top: -10vw;
    width: 75%;
    padding-top: 18vw;
    margin-bottom: 20vw;
}

#print_separador{
    display: flex;
    width: 43%;
    margin-left: 7vw;
}

.print_3{
    display: inline-flex;
}

.print_posts_text p{
    margin-left: 7vw;
    padding-top: 31vw;
}

#print_4{
    width: 60%;
}

#camp_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    position: relative;
    left: -0.4%;
    color: #D2ECFB;
}

#camp_backwards {
    background-color: #1d9afa;
    transform: translateY(-22%);
}

.camp{
    background-color: #D2ECFB;
    margin: 0;
    transform: translateY(-2.6%);
    display: block;
}

.camp_intro{
    display: flex;
}

.camp_shapes{
    width: 100%;
    height: 17vw;
    text-align: right;
    position: relative;
    top: -3.35vw;
}

#camp_shapes{
    width: 15.5%;
}

.camp_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #1d9afa;
    margin: 0;
    position: relative;
    left: -0.4%;
    top: -2.2vw;
}

.camp_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 7vw;
    background-color: #D2ECFB;
    width: 100%;
    float: left;
    transform: translateY(-2%);
    text-align: center;
}

#camp_img{
    width: 50%;
    margin-left: 7vw;
    margin-right: 10vw;
}

.camp_intro_text{
    margin: auto;
    position: relative;
    top: -1vw;
}

.camp_intro_text h1{
    color: #2845c9;
    margin-bottom: 1vw;
    text-align: left;
    margin-right: 5vw;
}

.camp_intro_text p{
    color: #1d9afa;
    width: 80%;
    text-align: left;
}

.camp_posts{
    display: flex;
    width: 100%;
    background: #D2ECFB;
    padding-bottom: 8vw;
    text-align: left;
    padding-top: 10vw;
}

#camp_separador{
    width: 27%;
    margin-left: 7vw;
}

.camp_video{
    display: flex;
    margin-top: 8vw;
    margin-left: 19vw;
    margin-right: 19vw;
    justify-content: space-between;
}

.camp_video2{
    display: flex;
    margin-top: 8vw;
    margin-left: 19vw;
    margin-right: 19vw;
    justify-content: space-between;
}

#camp_video{
    width: 45%;
}

#camp_video2{
    width: 45%;
}

#camp_video3{
    width: 45%;
}

.footer{
    margin-top: -4.7vw;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
    background-color: rgba(31,19,79,1);
}

#home{
    background-color: #783DEA;
    padding: 1vw;
    position: relative;
    top: 3vw;
    color: #fff;
}

.footer a{
    font-size: 1.3vw;
}

#home:hover{
    background-color: #F7C843;
    color: #1C1C23;
}

.footer p{
    margin-top: 6vw;
    font-size: 0.7vw;
}

/*---------------------------------------------------CASAL POPULAR------------------------------------------------------*/

.casal_body{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    color: #575759;
    font-size: 1.5vw;
    margin: 0 auto;
    background: #fff;
    text-align: left;
    overflow-x: hidden;
}

.casal_body h1 {
    color: #0054A6;
}

#casal_title{
    position: relative;
    right: -3%;
    top: 1vw;
    color: #0054A6;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 7vw;
}

.casal_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #0054A6;
}

.casal_title h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#casal_logo{
    width: 15vw;
    margin-top: 12vw;
}

.casal_logo{
    text-align: center;
    height: 37vw;
}

#casal_logo_text{
    margin-top: 5vw;
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.casal_intro{
    margin-bottom: 15vw;
}

#cshapes1{
    width: 7vw;
    position: relative;
    top: 1vw;
    right: 10vw;
}

#cshapes2{
    width: 7vw;
    position: relative;
    bottom: 13vw;
    left: 11vw;
}

.casal_about{
    justify-content: center;
    margin: auto;
    margin-top: 27vw;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.casal_about_text{
    width: 40%;
    margin: auto;
    margin-right: 5vw;
    margin-left: 2vw;
}

.casal_about_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    color: #0054A6;
    margin-bottom: 1.5vw;
}

.poster_casal{
    margin-top: 22vw;
    background-color: #fff;
    background-image: url(img/casal_illustration.png);
    background-size: cover;
    width: 100%;
    height: 100vw;
}

.casal_intro h2{
    font-size: 9vw;
    width: 28%;
    color: #2dbdff;
    margin: 0;
    position: relative;
    left: -0.6%;
    top: -8.7vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
}

#casal_intro_img{
    width: 62%;
    position: relative;
    top: -9vw;
    float: right;
}

.casal_intro_text{
    width: 40%;
    margin-left: 7vw;
    margin-top: 32vw;
}

.casal_intro_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.7vw;
    color: #fff;
    margin-bottom: 1.3vw;
}

.casal_intro_text p{
    width: 80%;
}

#casal_intro_text1{
    color: #fff;
}

#casal_intro_text2{
    color: #0054A6;
}

.poster_mockup{
    margin-top: 5vw;
}

.poster_mockup img{
    width: 107%;
}

.video_casal{
    margin-top: 10vw;
    display: flex;
}

.video_intro h2{
    font-size: 9vw;
    color: #0054A6;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    transform: translateY(-8%);
}

.video_intro_text{
    margin-left: 2vw;
    width: 27%;
    height: 9vw;
    border-left: 2px solid #0054A6;
    padding-left: 2vw;
}

.video_intro_text h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    font-size: 2.7vw;
    color: #fff;
    margin-bottom: 0.5vw;
    color: #0054A6;
}

.video_intro_text p{
    color: #00BAF1;
}

.casal_video{
    text-align: center;
    width: 100%;
    height: 67vw;
}

.casal_video iframe{
    position: relative;
    top: -5vw;
}

/*---------------------------------------------------TG------------------------------------------------------*/

.TG_body{
    font-family: "Jost", sans-serif;
    font-style: normal;
    color: #000;
    font-size: 1.5vw;
    margin: 0 auto;
    background: #fff;
    text-align: left;
    overflow-x: hidden;
}

.TG_body h1 {
    color: #EF8B8B;
}

#TG_title{
    position: relative;
    right: -3%;
    top: 1vw;
    color: #EF8B8B;
    font-family: "Jost", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 7vw;
}

.TG_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #EF8B8B;
}

.TG_title h1{
    font-family: "Jost", sans-serif;
    font-style: italic;
    font-weight: 800;
}

#TG_logo{
    width: 15vw;
    margin-top: 12vw;
}

.TG_logo{
    text-align: center;
    height: 37vw;
}

#TG_logo_text{
    margin-top: 5vw;
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.TG_intro{
    margin-bottom: 25vw;
}

#TGshapes1{
    width: 10vw;
    position: relative;
    top: 9vw;
    right: 10vw;
}

#TGshapes2{
    width: 10vw;
    position: relative;
    bottom: 6vw;
    left: 10vw;
}

.TG_about{
    justify-content: center;
    margin: auto;
    margin-top: 27vw;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.TG_about_text{
    width: 40%;
    margin: auto;
    margin-right: 0vw;
    margin-left: 2vw;
}

.TG_about_text h1{
    font-family: "Jost", sans-serif;
    font-weight: 800;
    color: #3D69A9;
    margin-bottom: 1.5vw;
}

.cover_TG{
    margin-top: 18vw;
    background-color: #fff;
    height: 150vw;
}

.TG_intro h2{
    font-size: 9vw;
    width: 28%;
    color: #EF8B8B;
    margin: 0;
    position: relative;
    left: -0.2%;
    font-family: "Jost", sans-serif;
    font-weight: 800;
}

.TG_intro2{
    background-image: url(img/TG_illustration.png);
    background-size: contain;
    background-repeat: no-repeat;
}

#TG_intro_img{
    width: 95%;
    position: relative;
    bottom: 25vw;
}

#TG_intro_img2{
    width: 44%;
    margin-left: 7vw;
    mix-blend-mode: multiply;
    opacity: 70%;
    position: relative;
    top: -37vw;
}

#TG_intro_img3{
    width: 47%;
    margin-left: 8vw;
    position: relative;
    top: -57vw;
}

.TG_intro_text{
    width: 40%;
    margin-left: 9vw;
    position: relative;
    top: -47.7vw;
}

.TG_intro_text h1{
    font-family: "Jost", sans-serif;
    font-size: 2.5vw;
    color: #fff;
}

.TG_intro_text p{
    color: #fff;
    width: 80%;
    font-family: "Jost", sans-serif;
}

#TG_intro_text2{
    color: #3D69A9;
    position: relative;
    top: -7vw;
}

.TGcover_back{
   margin: 0 auto;
   width: 81%;
   position: relative;
    top: -47.7vw;
}

.TGcover_back img{
    width: 100%;
}

.TGcover_plus{
    height: 5vw;
    width: 100%;
    background-color: #EF8B8B;
    position: relative;
    top: -9vw;
}

.TG_mockup{
    margin-bottom: 10vw;
}

.TG_mockup1{
    width: 100%;
    text-align: center;
}

.TG_mockup1 p{
    color: #3D69A9;
    font-size: 1.8vw;
    width: 8%;
    position: relative;
    left: 49.5vw;
    top: 3.2vw;
}

.TG_mockup1 img{
    width: 60%;
    z-index: 1;
    position: relative;
}

#TGlines{
    width: 5%;
    float: right;
    z-index: 0;
    position: relative;
    right: 39vw;
    top: 1.3vw;
}

.TG_mockup2{
    width: 90%;
    text-align: center;
    display: flex;
    margin-left: 1vw;
}

.TG_mockup2 img{
    width: 100%;
    z-index: 1;
    position: relative;
}

.TG_mockup2_ind{
    width: 100%;
}

#TGlines2{
    width: 5.6%;
    height: 100%;
    float: right;
    z-index: 0;
    position: relative;
    left: 79.3vw;
    bottom: 2.8vw;
}

.TG_mockup2 p{
    color: #3D69A9;
    font-size: 1.8vw;
    width: 8%;
    position: relative;
    left: 79.8vw;
    bottom: 3.4vw;
}

.TG_body .footer{
    color: #fff;
}


/*---------------------------------------------------NARRATIVAS------------------------------------------------------*/

.narrativas_body{
    font-family: "Josefin Sans", sans-serif;
    font-style: normal;
    font-weight: 300;
    color: #fff;
    font-size: 1.5vw;
    margin: 0 auto;
    background: #030203;
    text-align: left;
    overflow-x: hidden;
}

.narrativas_body h1 {
    color: #fff;
}

#narrativas_title{
    position: relative;
    right: -3%;
    top: 1.5vw;
    color: #fff;
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    font-size: 7vw;
}

.narrativas_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #fff;
}

.narrativas_title h1{
    font-family: "Josefin Sans", sans-serif;
    font-style: italic;
    font-weight: 800;
    margin-top: 1vw;
}

#narrativas_logo{
    width: 22vw;
    margin-top: 12vw;
}

.narrativas_logo{
    text-align: center;
    height: 37vw;
}

.narrativas_intro_back{
    background-image: url(img/narrativas_intro.png);
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position-y: 19vw;
}

#narrativas_logo_text{
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 21vw;
    font-style: italic;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 2.5% 2.5% 2.5% 1%;
    position: relative;
    top: -3vw;
}

.narrativas_intro{
    margin-bottom: 25vw;
}

.narrativas_about{
    justify-content: center;
    margin: auto;
    margin-top: 27vw;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
}

.narrativas_about_text{
    width: 40%;
    margin: auto;
    margin-right: 0vw;
    margin-left: 2vw;
}

.narrativas_about_text h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    color: #4F865D;
    margin-bottom: 1.5vw;
}

.cover_narrativas{
    background-color: #030203;
    background-image: url(img/narrativas_back.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 819vw;
    margin-top: 18vw;
}

.narrativas_intro2{
    margin-top: 10vw;
    display: flex;
    text-align: center;
}

#narrativas_intro_img{
    margin-top: 32vw;
    width: 95%;
    margin-right: 9vw;
}

.narrativas_intro_text{
    text-align: left;
    width: 40%;
    margin-left: 9vw;
}

.narrativas_intro_text h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    color: #fff;
    margin-bottom: 2%;
}

.narrativas_intro_text p{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    width: 80%;
    font-weight: 300;
    margin-bottom: 5%;
}

#narrativas_intro_text2{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    width: 72%;
}

.narrativas_cover_back{
   margin: 0 auto;
   width: 35%;
   margin-right: 9vw;
}

.narrativas_cover_back img{
    width: 100%;
}

#narrativas_index_img{
    margin-top: 52vw;
    width: 100%;
}

.narrativas_index{
    text-align: right;
}

.narrativas_index_text{
    width: 55%;
    margin-right: 5vw;
    float: right;
}

.narrativas_index_text p{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    width: 80%;
    font-weight: 300;
}

.narrativas_stories{
    text-align: center;
}

#narrativas_stories_img{
    margin-top: 70vw;
    width: 80%;
}

.narrativas_stories_text{
    text-align: left;
    width: 40%;
    margin-left: 9vw;
}

.narrativas_stories_text h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    color: #fff;
    margin-bottom: 4%;
}

.narrativas_stories_text p{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    width: 72%;
}

.narrativas_stories_ind{
    margin-top: 15vw;
}

.narrativas_stories_ind img{
    width: 85%;
    float: right;
    margin-right: 2vw;
    position: relative;
    bottom: 8vw;
}

.narrativas_stories_text2{
    position: relative;
    bottom: 13vw;
    text-align: right;
    width: 40%;
    float: right;
}

.narrativas_stories_text2 h1{
    font-family: "Josefin Sans", sans-serif;
    font-weight: 800;
    font-size: 2.5vw;
    color: #fff;
    margin-bottom: 4%;
    margin-right: 10vw;
}

.narrativas_stories_text2 p{
    color: #000;
    font-family: "Josefin Sans", sans-serif;
    width: 75%;
}

.narrativas_stories_ind2{
    text-align: left;
}

.narrativas_stories_ind2 img{
    width: 85%;
    margin-left: 2vw;
}

#narrativas_editorial_img{
    margin-top: 48vw;
    width: 100%;
}

.narrativas_editorial{
    text-align: right;
    position: relative;
    bottom: 5vw;
}

.narrativas_editorial_text{
    width: 55%;
    margin-right: 10vw;
    float: right;
}

.narrativas_editorial_text p{
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    width: 80%;
    font-weight: 300;
}

/*---------------------------------------------------BRANDING------------------------------------------------------*/

.brand_body{
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    color: #000;
    font-size: 1.5vw;
    margin: 0 auto;
    background: #E9E4F2;
    text-align: left;
    overflow-x: hidden;
}

.brand_body h1 {
    color: #9742D3;
}

#brand_title{
    position: relative;
    right: -3%;
    top: 1vw;
    color: #9742D3;
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
    font-size: 7vw;
}

.brand_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #9742D3;
}

.brand_title h1{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

#brand_logo{
    width: 55%;
    margin-top: 12vw;
}

.brand_logo{
    text-align: center;
    height: 35vw;
}

#brand_logo_text{
    margin-top: 5vw;
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.brand_intro{
    margin-bottom: 15vw;
}

.abysmo{
    margin-left: 7vw;
    margin-right: 7vw;
    margin-top: 25vw;
}

.brand_squares{
    display: flex;
    width: 100%;
    height: 10vw;
    justify-content: space-between;
    margin-bottom: 4vw;
}

#abysmo_sq1{
    background-color: #9742D3;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq1{
    background-color: #F1AA2E;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#abysmo_sq2{
    background-color: #9742D3;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq2{
    background-color: #E9E4F2;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#abysmo_sq3{
    background-color: #F1AA2E;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq3{
    background-color: #E9E4F2;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#abysmo_sq4{
    background-color: #000000;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq4{
    background-color: #E9E4F2;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#abysmo_sq5{
    background-color: #000000;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq5{
    background-color: #F1AA2E;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#abysmo_sq6{
    background-color: #000000;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#abysmo_ssq6{
    background-color: #9742D3;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.brand_square{
    border-radius: 2%;
    width: 95.5%;
    height: 80vw;
    justify-content: space-between;
    background-color: #9742D3;
    padding: 2vw;
    margin-bottom: 10vw;
}

.abysmo_sector1{
    display: flex;
    margin-bottom: 2vw;
}

#abysmo_bs1{
    background-image: url(img/abysmo_1.png);
    background-size: contain;
    width: 18vw;
    height: 18vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#abysmo_bs2{
    background-color: #000;
    background-image: url(img/abysmo_logo_w.png);
    background-size: 50%;
    background-position-x: center;
    background-position-y: 45%;
    background-repeat: no-repeat;
    width: 64.7%;
    height: 18vw;
    border-radius: 1vw;
}

#abysmo_bs3{
    background-image: url(img/abysmo_3.png);
    background-size: cover;
    background-position-y: center;
    width: 96.8%;
    height: 18vw;
    border-radius: 1vw;
}

#abysmo_bs4{
    background-image: url(img/abysmo_2.png);
    background-size: cover;
    width: 25vw;
    height: 38vw;
    border-radius: 1vw;
}

.abysmo_sector{
    display: flex;
    margin-bottom: 2vw;
}

.abysmo_sector0{
    width: 100%;
}

#abysmo_bs5{
    background-image: url(img/abysmo_4.png);
    background-size: cover;
    width: 50%;
    height: 40vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#abysmo_bs6{
    background-image: url(img/abysmo_5.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

#abysmo_bs7{
    background-image: url(img/abysmo_6.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
}

.abysmo_sector2{
    display: flex;
}

.abysmo_sector3{
    width: 47.5%;
}

#brand_logo2{
    width: 35%;
    margin-top: 12vw;
}

.brand_logo2{
    text-align: center;
    height: 45vw;
}

#brand_logo_text{
    margin-top: 5vw;
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.brand_body2{
    background-color: #DDEDED;
}

#escs_sq1{
    background-color: #295972;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq1{
    background-color: #3EAAB4;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#escs_sq2{
    background-color: #295972;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq2{
    background-color: #B02439;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#escs_sq3{
    background-color: #295972;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq3{
    background-color: #F2A72B;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#escs_sq4{
    background-color: #B02439;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq4{
    background-color: #F2A72B;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#escs_sq5{
    background-color: #3EAAB4;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq5{
    background-color: #B02439;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#escs_sq6{
    background-color: #3EAAB4;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#escs_ssq6{
    background-color: #F2A72B;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.brand_square_escs{
    border-radius: 2%;
    width: 95.5%;
    height: 80vw;
    justify-content: space-between;
    background-color: #295972;
    padding: 2vw;
    margin-bottom: 10vw;
}

#escs_bs1{
    background-image: url(img/escs_1.png);
    background-size: contain;
    width: 18vw;
    height: 18vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#escs_bs2{
    background-color: #000;
    background-image: url(img/escs_2.png);
    background-size: cover;
    background-position-x: center;
    background-position-y: 45%;
    background-repeat: no-repeat;
    width: 64.7%;
    height: 18vw;
    border-radius: 1vw;
}

#escs_bs3{
    background-image: url(img/escs_4.png);
    background-size: cover;
    background-position-y: center;
    background-position-x: -0.1vw;
    width: 96.8%;
    height: 18vw;
    border-radius: 1vw;
}

#escs_bs4{
    background-image: url(img/escs_3.png);
    background-size: cover;
    width: 25vw;
    height: 38vw;
    border-radius: 1vw;
}

#escs_bs5{
    background-image: url(img/escs_5.png);
    background-size: cover;
    width: 50%;
    height: 40vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#escs_bs6{
    background-image: url(img/escs_6.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

#escs_bs7{
    background-image: url(img/escs_7.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
}

.brand_body3{
    background-color: #fff;
    padding-bottom: 8vw;
}

#quardian_sq1{
    margin-right: 4vw;
    background-color: #00AAE3;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#quardian_ssq1{
    background-color: #FFE84B;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#quardian_sq2{
    margin-right: 4vw;
    background-color: #00AAE3;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#quardian_ssq2{
    background-color: #FFB700;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

#quardian_sq3{
    background-color: #FFB700;
    width: 10vw;
    height: 10vw;
    border-radius: 10%;
}

#quardian_ssq3{
    background-color: #FFE84B;
    width: 6vw;
    height: 6vw;
    border-radius: 10%;
    margin-top: 2vw;
    margin-left: 2vw;
}

.quardian_squares{
    display: flex;
    width: 100%;
    height: 10vw;
    margin-bottom: 4vw;
}

.brand_square_quardian{
    border-radius: 2%;
    width: 95.5%;
    height: 80vw;
    justify-content: space-between;
    background-color: #00AAE3;
    padding: 2vw;
    margin-bottom: 10vw;
}

#escs_bs1{
    background-image: url(img/quardian_1.png);
    background-size: contain;
    width: 18vw;
    height: 18vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#escs_bs2{
    background-color: #000;
    background-image: url(img/quardian_2.png);
    background-size: cover;
    background-position-y: 45%;
    background-repeat: no-repeat;
    width: 64.7%;
    height: 18vw;
    border-radius: 1vw;
}

#escs_bs3{
    background-image: url(img/quardian_4.png);
    background-size: cover;
    width: 96.8%;
    height: 18vw;
    border-radius: 1vw;
}

#escs_bs4{
    background-image: url(img/quardian_3.png);
    background-size: cover;
    width: 25vw;
    height: 38vw;
    border-radius: 1vw;
}

#escs_bs5{
    background-image: url(img/quardian_5.png);
    background-size: cover;
    width: 50%;
    height: 40vw;
    border-radius: 1vw;
    margin-right: 2vw;
}

#escs_bs6{
    background-image: url(img/quardian_6.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
    margin-bottom: 2vw;
}

#escs_bs7{
    background-image: url(img/quardian_7.png);
    background-size: cover;
    width: 100%;
    height: 47.5%;
    border-radius: 1vw;
}

.brand_footer{
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
    background-color: rgba(31,19,79,1);
}

.brand_footer a{
    font-size: 1.3vw;
}

.brand_footer p{
    margin-top: 6vw;
    font-size: 0.7vw;
    color: #fff;
}
