/*-------------------------------------------------HOMEPAGE--------------------------------------------------------*/

body {
    font-family: 'Rokkitt', serif;
    padding: 0;
    margin: 0;
    text-align: center;
    background: rgb(28,28,35);
    background: linear-gradient(180deg, rgba(28,28,35,1) 0%, rgba(28,28,35,1) 60%0%, rgba(31,19,79,1) 70%);
}

a {
    text-decoration: none;
    padding: 0;
    margin: 0;
}

h1 {
    font-family: 'Kanit', sans-serif;
    font-size: 3vw;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.cover{
    padding-left: 5vw;
    padding-right: 5vw;
}
.cover img {
    width: 100%;
    height: auto;
}

.about_me {
    width: 32.9%;
    margin: auto;
    margin-top: 5vw;
    text-align: left;
    color: #fff;
    display: flex;
    margin-left: 7%;
    display: flex;
}

.about_me img {
    width: 15%;
    height: 15%;
}

.about_me_text h1 {
    transform: scaleY(0.9);
    padding-left: 1vw;
    padding-top: 1.5vw;
}

.about_me_text p {
    color: #A5A5A5;
    font-size: 1.5vw;
    padding-top: 1vw;
    padding-left: 1vw;
    width: 70%;
}

.download {
    margin-left: 7%;
    position: relative;
    top: -6vw;
    left: 8vw;
    width: 20%;
}

.download a:hover {
    background-color: #F7C843;
    color: #1C1C23;
    cursor: pointer;
}

.download a {
    background-color: #783DEA;
    font-size: 1vw;
    padding-top: 0.8vw;
    padding-bottom: 0.8vw;
    padding-left: 3vw;
    padding-right: 3vw;
    color: #fff;
    border-radius: 50px;
}

.profession {
    width: 55%;
    margin-right: 7.155%;
    position: relative;
    top: -7px;
}

.profession img {
    width: 91%;
}

.presentation {
    display: flex;
    padding-left: 5vw;
    padding-right: 5vw;
}

.port {
    z-index: 1;
    width: 55%;
    display: flex;
    float: right;
    margin-right: 12.3%;
    padding-left: 5vw;
    padding-right: 5vw;
}

.port img {
    width: 100%;
}


.projects_back img{
    width: 100%;
    position: relative;
    z-index: -1;
}

.proj_vertical img{
    width: 6%;
    z-index: 1;
    position: relative;
    top: 42.5vw;
    left: -8vw;
}

.proj_horizontal img{
    width: 47%;
    z-index: 1;
    position: relative;
    left: -18vw;
}


.proj_box{
    width: 90%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 auto;
    margin-top: 5%;
}

.inlife{
    width: 82%;
    margin: 0 auto;
    
}

.inlife h1{
    color: #fff;
    text-align: left;
    margin-top: 2%;
}

.inlife p{
    color: #A5A5A5;
    font-size: 1.5vw;
    text-align: left;
    margin-top: 1%;
}

.inlife img{
    width: 100%;
    box-shadow: -1vw 1vw 40px rgba(0, 0, 0, 0.2);
}

.inlife-hover {
    display: none;
}

.inlifestar{
    opacity: 0;
    position: relative;
    top: -30%;
    right: -50%;
}

.inlifestar img{
    box-shadow: none;
}

.inlife:hover .inlife-hover {
    display: inherit;
}

.inlife:hover{
    cursor: pointer;
}

.inlife:hover h1{
    color: #1d9afa;
}


.inlife:hover .inlifestar {
    opacity: 1;
}

.inlife:hover .inlife-hide {
    display: none;
}

.inlifestar img{
    -webkit-animation: rotation 5s linear infinite;
}

.inlifestar{
    width: 25%;
}

@-webkit-keyframes rotation {
    0%   { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

.projects{
    background-image: url(img/cloud_gradient.svg);
    background-position: -2.5vw 55%;
    background-repeat: no-repeat;
    padding-left: 5vw;
    padding-right: 5vw;
}

/*---------------------------------------------------INLIFE-----------------------------------------------------------*/

.inlife_body{
    font-family: 'Urbanist', sans-serif;
    color: #F0F3F6;
    font-size: 1.5vw;
    text-align: left;
    background: rgb(27, 145, 235);
}

.inlife_body h1 {
    color: #fff;
    font-family: 'Inter', sans-serif;
}

#inlife_title{
    position: relative;
    right: -3%;
    top: 1vw;
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-size: 7vw;
}

.inlife_title{
    text-align: right;
    width: 20vw;
    padding-bottom: 1%;
    border-bottom: 2px dashed #fff;
}

#inlife_logo{
    width: 15vw;
    margin-top: 12vw;
}

.inlife_logo{
    text-align: center;
    height: 37vw;
}

#inlife_logo_text{
    text-align: right;
    width: 20%;
    float: right;
    margin-right: 23vw;
    font-style: italic;
}

.inlife_intro{
    margin-bottom: 15vw;
}

#shapes1{
    width: 8vw;
    position: relative;
    top: 9vw;
    right: 10vw;
}

#shapes2{
    width: 8vw;
    position: relative;
    bottom: 3vw;
    left: 10vw;
}

.inlife_about{
    justify-content: center;
    margin: auto;
    margin-top: 10vw;
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    background-color: ;
}

.inlife_about_text{
    width: 30%;
    margin: auto;
    margin-right: 5vw;
    margin-left: 2vw;
}

.inlife_about_text h1{
    color: #2845c9;
    margin-bottom: 1.5vw;
}

#inlife_video{
    width: 55%;
}

#post_backwards{
    margin: 0;
    padding: 0;
}
#posts_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    margin-top: 10vw;
    position: relative;
    left: -0.5%;
   
}

.ig{
    background-color: #F0F3F6;
    margin: 0;
    display: flex;
    transform: translateY(-16%);
    display: block;
}

.ig_intro{
    display: flex;
}

.ig_shapes{
    width: 100%;
    height: 13.6vw;
    text-align: right;
    position: relative;
    top: -3.2vw;
}

#ig_shapes{
    width: 20%;
}

.ig_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #1d9afa;
    margin: 0;
    position: relative;
    left: -0.5%;
    top: -2.2vw;
}

#social_media{
    width: 35%;
    height: 20%;
    margin-top: 1vw;
    position: relative;
    left: 2%;
}

.ig_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 5vw;
    background-color: #F0F3F6;
    width: 100%;
    float: left;
    transform: translateY(-2%);
}

.ig_intro_text{
    margin: auto;
    margin-right: 7vw;
    margin-left: 5vw;
    position: relative;
    top: -1vw;
}

.ig_intro_text h1{
    color: #2845c9;
    margin-bottom: 1vw;
}

.ig_intro_text p{
    color: #1d9afa;
}

#ig_img{
    width: 60%;
    margin-left: 5vw;
}

.ig_intro_text img{
    width: 95%;
    margin-bottom: 1.5vw;
}

.ig_posts{
    width: 100%;
    background: #F0F3F6;
    padding-bottom: 8vw;
}

.ig_posts img{
    width: 100%;
    padding-top: 5vw;
}

#ig_2{
    width: 60%;
    margin-left: 5vw;
    padding-top: 10vw;
    margin-bottom: 5vw;
}

#ig_3{
    width: 78%;
    margin-right: 5vw;
    margin-left: 12vw;
    transform: translateY(-5%);
}

#ig_separador1{
    width: 10%;
    position: relative;
    top: 2vw;
    left: -5%;
}

.ig_posts p{
    margin-top: 1vw;
    color: #1d9afa;
    width: 18%;
    text-align: right;
    position: relative;
    top: -5vw;
    left: 40vw;
}

.ig_4{
    width: 85%;
    justify-content: center;
    margin: 0 auto;
    margin-top: 5vw;
}

.ig_icons img{
    display: block;
}

#ig_separador2{
    width: 10%;
    margin-top: 10vw;
    margin-left: 7vw;
}

#highlight_icons{
    margin-left: 7vw;
    width: 25%;
    padding: 0;
    margin-top: 1.5vw;
}

.highlight_icons{
    display: flex;
    margin-left: 7vw;
    margin-right: 15vw;
    justify-content: space-between;
}

.highlight_icons_ind{
    width: 15%;
}

.highlight_icons_ind img{
   width: 80%;
}

.highlight_icons_ind p{
    color: #2845c9;
    text-align: center;
    width: 80%;
    padding: 0;
    margin: 0;
    position: relative;
    left: 0;
    top: 0;
    margin-top: 2vw;
}

.highlight_icons2{
    display: flex;
    margin-left: 15vw;
    margin-right: 7vw;
    justify-content: space-between;
}

#ig_print{
    width: 60%;
    margin: 0 auto;
    margin-top: 5vw;
}

#inlife_city_guides{
    width: 27%;
    margin-right: 3vw;
    margin-top: 10vw;
}

.ig_5{
    margin-left: 5vw;
    margin-right: 5vw;
    text-align: right;
}

#separator_dblue{
    width: 0;
    height: 0;
    border-left: 99.25vw solid transparent;
    border-bottom: 20vw solid #2845c9;
    margin-top: -35vw;
}

.li{
    background-color: #2845c9;
    padding-top: 35vw;
}

.li_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 5vw;
    background-color: #2845c9;
    width: 100%;
    float: left;
}

.li_intro_text{
    margin: auto;
    margin-right: 7vw;
    margin-left: 8vw;
    position: relative;
    top: -1vw;
}

.li_intro_text h1{
    color: #7DD1FC;
    margin-bottom: 1vw;
}

.li_intro_text p{
    color: #F0F3F6;
}

.li_intro_text img{
    width: 45%;
    margin-bottom: 1.5vw;
}

.li_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #1d9afa;
    margin: 0;
    position: relative;
    left: -0.5%;
    top: -2.2vw;
}

#li_img{
    width: 55%;
    margin-left: 7vw;
}

.li_posts{
    width: 100%;
    background: #2845c9;
    padding-bottom: 20vw;
}

.li_posts img{
    width: 100%;
    padding-top: 12vw;
}

#li_2{
    width: 86%;
    margin-left: 7vw;
    margin-right: 5vw;
    padding-top: 10vw;
    margin-bottom: 5vw;
}

#li_separador{
    width: 27%;
    margin-left: 7vw;
}

.li_covers_img{
    width: 100%;
    margin: 0 auto;
    margin-top: -5vw;
}

.li_covers_img img{
    margin-bottom: -8vw;
}

.li_covers{
    margin-left: 7vw;
    margin-right: 7vw;
}

#li_print{
    width: 45%;
    margin: 0 auto;
    margin-top: 10vw;
}

#site_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    position: relative;
    left: -0.2%;
   
}

#site_backwards {
    background-color: #2845c9;
}

.site{
    background-color: #EBEBEB;
    margin: 0;
    display: flex;
    transform: translateY(-13.5%);
    display: block;
}

.site_intro{
    display: flex;
}

.site_shapes{
    width: 100%;
    height: 17vw;
    text-align: right;
    position: relative;
    top: -3.4vw;
}

#site_shapes{
    width: 15.5%;
}

.site_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #2845c9;
    margin: 0;
    position: relative;
    left: -0.2%;
    top: -2.2vw;
}

.site_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 7vw;
    background-color: #EBEBEB;
    width: 100%;
    float: left;
    transform: translateY(-2%);
}

#site_img{
    width: 30%;
    height: 100%;
    margin-right: 10vw;
}

.site_intro_text{
    margin: auto;
    margin-left: 7vw;
    position: relative;
    top: -1vw;
}

.site_intro_text h1{
    color: #434A5F;
    margin-bottom: 1vw;
}

.site_intro_text p{
    color: #6E7D99;
    width: 70%;
}

.site_posts{
    width: 100%;
    background: #EBEBEB;
    padding-bottom: 8vw;
    text-align: center;
}

#site_1{
    margin: 0 auto;
    margin-top: 5vw;
    width: 50%;
    padding-top: 5vw;
}

#site_2{
    width: 100%;
    margin: 0 auto;
    padding-top: 15vw;
    margin-bottom: 5vw;
}

#sites_3{
    width: 70%;
    padding-bottom: 10vw;
}

#print_backwards h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    margin: 0;
    transform: scale(1, -1);
    position: relative;
    left: -0.4%;
    color: #1d9afa;
}

#print_backwards {
    background-color: #EBEBEB;
}

.print{
    background-color: #1d9afa;
    margin: 0;
    transform: translateY(-0.8%);
    display: block;
}

.print_intro{
    display: flex;
}

.print_shapes{
    width: 100%;
    height: 17vw;
    text-align: right;
    position: relative;
    top: -3.35vw;
}

#print_shapes{
    width: 15.5%;
}

.print_intro h2{
    font-family: 'Inter', sans-serif;
    font-size: 9vw;
    width: 28%;
    color: #EBEBEB;
    margin: 0;
    position: relative;
    left: -0.4%;
    top: -2.2vw;
}

.print_intro_posts{
    padding-top: 4vw;
    display: flex;
    margin-right: 7vw;
    background-color: #1d9afa;
    width: 100%;
    float: left;
    transform: translateY(-2%);
    text-align: center;
}

#prints_img{
    width: 50%;
    margin-left: 7vw;
    margin-right: 10vw;
}

.print_intro_text{
    margin: auto;
    position: relative;
    top: -1vw;
}

.print_intro_text h1{
    color: #2845c9;
    margin-bottom: 1vw;
    text-align: left;
    margin-right: 5vw;
}

.print_intro_text p{
    color: #F0F3F6;
    width: 80%;
    text-align: left;
}

.print_posts{
    width: 100%;
    background: #F0F3F6;
    padding-bottom: 8vw;
    text-align: center;
}

.print_posts{
    width: 100%;
    background: #1d9afa;
    padding-bottom: 8vw;
    text-align: left;
}

#print_1{
    background-image: url("img/print_back1.svg");
    background-repeat: no-repeat;
    background-size: 50%;
    margin: 0 auto;
    margin-top: 20vw;
    width: 60%;
    padding-top: 7vw;
    padding-left: 7vw;
}

#print_2{
    float: right;
    background-image: url("img/print_back2.svg");
    background-repeat: no-repeat;
    background-size: 35%;
    background-position: right;
    margin: 0 auto;
    margin-top: -10vw;
    width: 75%;
    padding-top: 18vw;
    margin-bottom: 20vw;
}

#print_separador{
    display: flex;
    width: 43%;
    margin-left: 7vw;
}

.print_3{
    display: inline-flex;
}

.print_posts_text p{
    margin-left: 7vw;
    padding-top: 31vw;
}

#print_4{
    width: 60%;
}

.footer{
    margin-top: -2vw;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vw;
    background-color: #1C1C23;
}

#home{
    background-color: #783DEA;
    padding: 1vw;
    position: relative;
    top: 3vw;
    color: #fff;
}

#home:hover{
    background-color: #F7C843;
    color: #1C1C23;
}

.footer p{
    margin-top: 6vw;
    font-size: 1vw;
}